/* General Body Styles */
body {
    background-color: #003135; 
    color: #ecf0f1; 
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
nav ul {
    background-color: #0FA4AF; 
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #003135; 
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline; 
}

/* Footer Styles */
footer {
    background-color: #FFFFFF; 
    color: #003135; 
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
}

/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
    color: #ecf0f1; 
}

/* Paragraph Styles */
p {
    color: #bdc3c7; 
    font-size: 18px;
}

/* Form Content Styling */
.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;  
}

.form-container {
    background-color: white; 
    padding: 20px;           
    border-radius: 8px;      
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    color: #333; 
}

/* Main Content Area */
.content {
    padding: 20px;
}
