/* Body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    background-color: #161c21; 
    color: #ffffff; 
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Header image */
.header-image {
    height: 40px;  
    vertical-align: middle;  
}

/* Navigation */
nav ul {
    display: flex; /* Use flexbox for alignment */
    justify-content: space-between; /* Space out items */
    align-items: center; /* Center items vertically */
    background-color: #000000;  
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

/* Centered logo in the navbar */
nav ul .logo {
    flex-grow: 1; /* Allow logo space to expand */
    display: flex;
    justify-content: center; /* Center logo */
}

/* Navigation links */
nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;  
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease;  
}

nav ul li a:hover {
    text-decoration: none;  
    color: #161c21;  
    background-color: #ffffff;  
    padding: 5px 10px;  
    border-radius: 5px;  
}

/* Main Content Wrapper */
.content {
    flex: 1; 
    padding: 20px;
}

/* Headers and Paragraphs */
h1, h2, h3, h4, h5, h6 {
    color: #ffffff; 
}

p {
    color: #ffffff; 
    font-size: 18px;
}

/* Footer */
footer {
    background-color: #000000;
    color: #ffffff; 
    text-align: center;
    padding: 15px;
    width: 100%;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
    margin-top: auto; 
}

/* Additional CSS for Centering Forms */
.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;  
}

.form-container {
    background-color: #000000; 
    padding: 20px;           
    border-radius: 8px;     
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    color: #ffffff; 
}

/* Blog homepage */
.blog-posts-container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
}

.post {
    background-color: #000000; 
    padding: 15px; 
    margin-bottom: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

/* About page */
.about-container {
    max-width: 800px;
    margin: 40px auto; 
    padding: 20px;
    background-color: #000000; 
    color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-container h1,
.about-container h2 {
    color: #ffffff;  
    margin-top: 20px;  
}

.about-container p {
    line-height: 1.6;  
    margin-bottom: 15px;  
}
